{% extends 'base.html.twig' %}

{% block css %}
{% endblock %}

{% block body %}

    <div class="breadcrumb-wrapper">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{path('article_homepage')}}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                </ol>
                <!-- End of .breadcrumb -->
            </nav>
        </div>
        <!-- End of .container -->
    </div>
    <!-- End of .breadcrumb-container -->

    <!-- Banner starts -->
    <section class="banner banner__default bg-grey-light-three">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="post-title-wrapper">
                        <h2 class="m-b-xs-0 axil-post-title hover-line">Contact Us</h2>
                    </div>
                    <!-- End of .post-title-wrapper -->
                </div>
                <!-- End of .col-lg-8 -->
            </div>
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .banner -->

    <div class="axil-about-us section-gap  section-gap-top__with-text">
        <div class="container">

            <div class="section-title d-block text-center">
                <h2 class="axil-title m-b-xs-20">Meet Our Publishing Authors</h2>
                <p>Wherever & whenever you need us. We are here for you - contact us for all your support needs,
                    <br>be it technical, general queries or information support.</p>
            </div>

            <figure class="m-b-xs-30 p-t-xs-10">
                <img src="{{ asset('assets/images/contact-banner.jpg') }}" alt="contact banner" class="img-fluid mx-auto">
            </figure>
        </div>
        <!-- End of .container -->
    </div>
    <!-- End of .section-gap -->

    <section class="contact-form section-gap bg-grey-light-three ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="axil-contact-form-block m-b-xs-30">
                        <div class="section-title d-block">
                            <h2 class="h3 axil-title m-b-xs-20">
                                Send Us a Message
                            </h2>
                            <p>Your email address will not be published.
                                All the fields are required.
                            </p>
                        </div>
                        <!-- End of .section-title -->

                        <div class="axil-contact-form-wrapper p-t-xs-10">
                            <form class="axil-contact-form row no-gutters">

                                <div class="form-group col-12">
                                    <label for="contact-name">Name</label>
                                    <input type="text" name="contact-name" id="contact-name">
                                </div>

                                <div class="form-group col-12">
                                    <label for="contact-phone">Phone</label>
                                    <input type="text" name="contact-phone" id="contact-phone">
                                </div>

                                <div class="form-group col-12">
                                    <label for="contact-email">Email</label>
                                    <input type="email il" name="contact-email" id="contact-email">
                                </div>

                                <div class="form-group col-12">
                                    <label for="contact-message">Message</label>
                                    <textarea name="contact-message" id="contact-message"></textarea>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary m-t-xs-0 m-t-lg-20">SUBMIT</button>
                                </div>
                            </form>
                            <!-- End of .axil-contact-form -->
                        </div>
                        <!-- End of .axil-contact-form-wrapper -->
                    </div>
                    <!-- End of .axil-contact-form-block -->
                </div>
                <!-- End of .col-lg-6 -->

                <div class="col-lg-5">
                    <div class="axil-contact-info-wrapper p-l-md-45 m-b-xs-30">
                        <div class="axil-contact-info-inner">
                            <h2 class="h4 m-b-xs-10">
                                Contact Information
                            </h2>
                            <div class="axil-contact-info">

                                


                                    <div class="h5 m-b-xs-10">We're Available 24/ 7. Call Now.</div>
                                    <div>
                                        <a class="tel" href="tel:8884562790"><i class="fas fa-phone"></i> (+216)
                                            55 328 137</a>
                                    </div>

                                </address>
                                <!-- End of address -->

                                <div class="contact-social-share m-t-xs-30">
                                    <div class="axil-social-title h5">Follow Us</div>
                                    <ul class="social-share social-share__with-bg">
                                        <li><a href="https://www.facebook.com/studentmag.tn" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://www.instagram.com/studentmag.tn/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="https://twitter.com/studentmag_tn" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UCNZJ0sWo0-c5NApCkMjDY5Q/featured" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="https://www.linkedin.com/company/31423399/admin/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>

                                    </ul>
                                </div>
                                <!-- End of .contact-shsdf -->
                            </div>
                            <!-- End of .axil-contact-info -->
                        </div>
                        <!-- End of .axil-contact-info-inner -->
                    </div>
                    <!-- End of .axil-contact-info-wrapper -->
                </div>
                <!-- End of .col-lg-6 -->
            </div>
            <!-- End of .row -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .contact-form -->

    <section class="section-gap our-location section-gap-top__with-text">
        <div class="container">
            <div class="section-title">
                <h2 class="axil-title m-b-xs-40">
                    Our Location
                </h2>
            </div>
            <!-- End of .section-title -->

            <div class="axil-map-wrapper m-b-xs-30">

                <iframe
                        src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Hammamet+(Student%20magazine)&amp;ie=UTF8&amp;t=&amp;z=9&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/draw-radius-circle-map/">
                    width="600" height="450" allowfullscreen></a></iframe><br />
            </div>
            <!-- End of .axil-map-wrapper -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .our-location -->


{% endblock %}


{% block js %}
<script src="{{ asset('assets/scripts/email.php') }}"></script>
{% endblock %}


